#blue
    .box,.minibox
        display: flex
        justify-content: center
        align-items: center
    .box
        width: 130px
        height: 130px
        background-color: #5282ad
        border: 1.5px solid #447237
        .minibox
            width: 65px
            height: 65px
            background-color: #2d517a
            transition: 2s
            &:hover
                width: 90px
                height: 90px
            h1
                color: #ffff
                font-weight: 700
                font-size: 13px
