#circle
    .minibox
        display: flex
        justify-content: center
        align-items: center
        width: 140px
        height: 140px
        border-radius: 100px
        background-color: #896826
        transition: 3s
        &:hover
            border-radius: 30px
        h1
            color: #ffff
            font-size: 16px
            font-weight: 700
    @media ( max-width: 800px)
        .minibox
            width: 40px
            height: 40px
            background-color: #c7d271
